body{
  font-family: "Cormorant", serif;
}

h1{
  display: inline-block;
  color: purple;
  text-shadow: 1px 1px 4px grey;
  font-weight: 600;
  margin: 0 32px 0 0;
}
header{
  display: block;
  margin: 32px;

}
header nav{
  display: inline-block;
}

header li{
  display: inline-block;
}

header a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 5px;
  font-weight: 600;
}
header a:hover{
  border-bottom: 1px solid;
  color: rgba(216, 112, 147, 0.782);
}

a.active{
  border-bottom: 1px solid black;
}

header ul{
  padding: 0;
}

.card img{
  width: 100%;
  max-width: 600px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 8px rgb(169, 152, 152);
}

.card{
  display: inline-block;
  width: 49.75%;
  min-width: 500px;
  height: 600px;
  min-height: 500px;
  padding: 50px;
  box-sizing: border-box;

}

